---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<header class="header">
    <div class="container flex justify-between items-center">
      <a href="" class="header-logo">
        PapitoToursCph
      </a>

      <nav class="header-nav flex">
        <a href="" class="header-link">Tours</a>
        <a href="" class="header-link">Us</a>
        <a href="" class="header-link">Blog</a>
        <a href="" class="header-link">Contact</a>
      </nav>

      <div class="header-icon-mobile"> <img src="https://static.thenounproject.com/png/345384-200.png" alt="" width="20"> </div>
    </div>
  </header>

  <section class="banner">
    <div class="container flex flex-col align-center justify-center">
      <h1 class="banner-title">
        Come to discover Copenhagen with us!
      </h1>
      <p class="banner-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos inventore vero distinctio quia et ducimus similique excepturi libero fugit molestias atque ratione veniam hic illum ipsa, dignissimos dolorum autem a.
      </p>
    </div>
  </section>
</div>

<style>
  @import "tailwindcss";
  body {
    background: black;
    color: white;
  }
  .header {
    font-size: 18px;
    margin: 20px 0;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    border-bottom: 1px solid gray;
    color: black;
  }
  .header-logo {
    padding: 10px 20px;
  }
  .header-link {
    padding: 10px 20px
  }  
  .header-link:hover {
    text-decoration: underline;
  }
  .header-icon-mobile {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .header {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 520px) {
    .header {
      font-size: 14px;
    }
    .header-nav {
      display: none;
    }
    .header-icon-mobile {
      display: block;
    }
  }

  /* Banner  */
  .banner {
    background: url(https://img.freepik.com/premium-vector/crowd-people-with-raised-arms-word-welcome-top_1316704-31345.jpg) center center no-repeat;
    background-size: cover;
    height: 80vh;
  }
  .banner .container {
    height: 100%;
  }
  .banner-title {
    background: black;
    padding: 10px 30px;
    border-radius: 15px;
    display: inline-block;
    max-width: 279px;
  }
  .banner-text {
    background: black;
    padding: 10px 30px;
    border-radius: 15px;
  }

   @media screen and (max-width: 520px) {
    .banner {
      height: 60vh;
      font-size: 14px;
    }
  }

  .container {
    max-width: 960px;
    margin: auto;
    width: 95%;
  }

</style>
